{% extends 'headeradmin.html.twig' %}

{% block title %}Hello AdminproductsController!{% endblock %}

{% block body %}
<style>
    .product-card {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #DBFFCA;
        border: 1px solid #ccc;
        transition: transform 0.3s ease; 
        box-shadow: 2px 1px 1px #7cdf7c; 

    }

    .product-card:hover {
        transform: translateY(-7px); 
        box-shadow: 10px 10px 4px #7cdf7c; 
        transition: 0.8s;

    }

    .product-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-details {
        margin-top: 10px;
    }

    .product-price {
        font-size: 18px;
        font-weight: bold;
    }

    .product-quantity {
        color: #28a745;
    }

    .product-category {
        color: #6c757d;
    }

    .form-control:focus {
        transform: translateY(0); 
        transition: transform 0.5s ease;
    }

    .btn-success:hover {
        background-color: #fff; 
        border-color: #fff; 
        color:#28a745
    }

    .btn-danger:hover {
        background-color: #fff; 
        border-color: #fff; 
        color:#dc3545
    }
</style>

<div class="container">
    <h1>Liste des produits</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="product-card">
                <h2> En ce moment</h2>
                <img src="{{ asset('images/cardfront.png') }}" alt="{{ 'photo' }}" class="product-image">
                <div class="product-details">
                    <h3>La sélection du moment</h3>
                    <p>Découvrez nos meilleures promotions, nos dernières nouveautés ou nos plus grands succès que nous avons sélectionnés.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">J'en profite</a>
                </div>
            </div>
        </div>
        {% for product in products %}
        <div class="col-md-4">
            <div class="product-card">
                <img src="{{ asset('images/' ~ product.images) }}" alt="{{ product.name }}" class="product-image">
                <div class="product-details">
                    <h3>{{ product.name }}</h3>
                    <p class="product-price">{{ product.price }} €</p>
                    <p>{{ product.description }}</p>
                    <p class="product-quantity">Quantité disponible: {{ product.quantity }}</p>
                    <p class="product-category">Catégorie: {{ product.category }}</p>
                    
                    <!-- Formulaires pour ajouter et retirer la quantité -->
                    <form action="{{ path('add_quantity', {'productId': product.id}) }}" method="post" class="mb-3">
                        <div class="input-group">
                            <label for="add_quantity" class="input-group-text">Ajouter Quantité:</label>
                            <input type="number" id="add_quantity" name="quantity" class="form-control" min="1" value="1">
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </form>

                    <form action="{{ path('remove_quantity', {'productId': product.id}) }}" method="post">
                        <div class="input-group">
                            <label for="remove_quantity" class="input-group-text">Retirer Quantité:</label>
                            <input type="number" id="remove_quantity" name="quantity" class="form-control" min="1" value="1">
                            <button type="submit" class="btn btn-danger">Retirer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
