{% extends 'headeradmin.html.twig' %}

{% block title %}Promo index{% endblock %}

{% block body %}
    <style>
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .promo-card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            background-color: #DBFFCA;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 2px #7cdf7c; 
            max-width: 300px;
            transition: transform 0.3s ease; 
        }

        .promo-card:hover {
            transform: scale(1.05); 
            box-shadow: 8px 8px 4px #7cdf7c; 
            transition: 0.5s;
        }

        .promo-image {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        .promo-details {
            margin-top: 10px;
        }

        .promo-price {
            font-size: 18px;
            font-weight: bold;
        }

        .promo-quantity {
            color: #28a745;
        }

        .promo-category {
            color: #6c757d;
        }

        .promo-actions a {
            margin-right: 10px;
        }

        .promo-actions a:hover {
            box-shadow: 2px 2px 2px #7cdf7c; 
            transform: translateY(-1px);
            transition:0.5s 
        }
    </style>

    <h1>Liste des articles en promotions</h1>
    <a href="{{ path('app_promo_admin_new') }}" class="btn btn-success">Ajouter un produit en promotion</a>
    <br><br>
    <div class="row">
        {% for promo in promos %}
            <div class="promo-card">
                <img src="{{ asset('images/' ~ promo.images) }}" class="promo-image">
                <div class="promo-details">
                            <h2 class="promo-title" style="font-weight: bold;">{{ promo.getName() }}</h2>
                            {% set now = 'now'|date('Y-m-d') %}
                            {% set remainingDays = (promo.getDateFin()|date('U') - now|date('U')) / (24 * 3600) %}
                            {% if remainingDays > 0 %}
                                <p class="promo-description" style="font-weight: bold;">Nombre de jours restants: {{ remainingDays|round(0, 'floor') }}</p>
                            {% else %}
                                <p class="promo-description" style="font-weight: bold;">Offre expirée</p>
                            {% endif %}
                            <p class="promo-description">Quantité disponible: {{ promo.getQuantity() }}</p>
                            <p class="promo-description" style="font-weight: bold;color:red;">{{ promo.getReduction() }} % de réduction</p>
                            <p class="promo-price">Prix après promotion: {{ promo.getPriceafterpromo() }} €</p>
                    <div class="promo-actions">
                        <a href="{{ path('app_promo_admin_show', {'id': promo.id}) }}" class="btn btn-primary">Voir en détail</a>
                        <a href="{{ path('app_promo_admin_edit', {'id': promo.id}) }}" class="btn btn-info">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <p>No records found</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
