{% extends 'headeruser.html.twig' %}

{% block title %}Hello AdminproductsController!{% endblock %}

{% block body %}
<style>
    .product-card {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #DBFFCA;
        border: 1px solid #ccc;
        box-shadow: 10px 10px 2px #7cdf7c; 
    }

    .product-image {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-details {
        margin-top: 10px;
    }

    .product-price {
        font-size: 18px;
        font-weight: bold;
    }

    .product-quantity {
        color: #28a745;
    }

    .product-category {
        color: #6c757d;
    }
</style>

<div class="container">
    <br><br>
    <h1>Liste des produits</h1>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="product-card">
                <h2>En ce moment</h2>
                <img src="{{ asset('images/cardfront.png') }}" alt="{{ 'photo' }}" class="product-image">
                <div class="product-details">
                    <h3>La sélection du moment</h3>
                    <p>Découvrez nos meilleures promotions, nos dernières nouveautés ou nos plus grands succès que nous avons sélectionnés.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary">J'en profite</a>
                </div>
            </div>
        </div>
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 product-card">
                <img src="{{ asset('images/' ~ product.images) }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Prix :</strong> {{ product.price }} €</p>
                    <p class="card-text"><strong>Quantité disponible :</strong> {{ product.quantity }}</p>
                </div>
                <div class="card-footer">
                    <form action="{{ path('add_to_cart', {'id': product.id}) }}" method="post">
                        <div class="form-group">
                            <label for="quantity">Quantité :</label>
                            <select name="quantity" id="quantity" class="form-control">
                                {% for qty in 1..product.quantity %}
                                <option value="{{ qty }}">{{ qty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
