{% extends 'headeruser.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-4">User Panier</h1>
    <h2>Produits Normaux :</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for panierDetail in panierDetails %}
                {% if panierDetail.price is defined %}
                    <tr>
                        <td>{{ panierDetail.product_name }}</td>
                        <td>{{ panierDetail.price }}</td>
                        <td>{{ panierDetail.quantity }}</td>
                        <td>{{ panierDetail.subtotal }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Produits en Promotion :</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price After Promo</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for panierDetail in panierDetails %}
                {% if panierDetail.price_after_promo is defined %}
                    <tr>
                        <td>{{ panierDetail.product_name }}</td>
                        <td>{{ panierDetail.price_after_promo }}</td>
                        <td>{{ panierDetail.quantity }}</td>
                        <td>{{ panierDetail.subtotal }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Price: {{ totalPrice }}</h3>
</div>
</body>
</html>
{% endblock %}
