{% extends 'headeruser.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}


<div class="container">
    <br>
    <h1>Résultats de la recherche</h1>
    <br>
    {% if promos is not empty %}
    <h2>Promotions</h2>
    <div class="row">
        {% for promo in promos %}
            <div class="col-md-4">
                <div class="promo-card">
                    <!-- Afficher les détails de la promotion -->
                    <img src="{{ asset('images/' ~ promo.getImages()) }}" class="promo-image">
                    <div class="promo-details">
                        <h5 class="promo-title">{{ promo.getName() }}</h5>
                        <p class="promo-description">{{ promo.getDescription() }}</p>
                        <p class="promo-date">Date de début: {{ promo.getDateDebut()|date('d/m/Y') }}</p>
                        <p class="promo-date">Date de fin: {{ promo.getDateFin()|date('d/m/Y') }}</p>
                        {# Calcul du nombre de jours restants #}
                        {% set now = 'now'|date('Y-m-d') %}
                        {% set remainingDays = (promo.getDateFin()|date('U') - now|date('U')) / (24 * 3600) %}
                        {% if remainingDays > 0 %}
                            <p class="promo-description">Nombre de jours restants: {{ remainingDays|round(0, 'floor') }}</p>
                        {% else %}
                            <p class="promo-description">Offre expirée</p>
                        {% endif %}
                        <p class="promo-description">Quantité disponible: {{ promo.getQuantity() }}</p>
                        {# Calcul du prix après promotion #}
                        <p class="promo-description">Réduction de: {{ promo.getReduction() }} %</p>

                        <p class="promo-price">Prix après promotion: {{ promo.getPriceafterpromo() }} €</p>

                        <form action="{{ path('add_to_cart', {'id': promo.getId()}) }}" method="post">
                            <div class="form-group">
                                <label for="quantity">Quantité :</label>
                                <select name="quantity" id="quantity" class="form-control custom-select">
                                    {% for qty in 0..promo.getQuantity() %}
                                        <option value="{{ qty }}">{{ qty }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if products is not empty %}
    <h2>Produits</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="product-card">
                <img src="{{ asset('images/' ~ product.images) }}" class="card-img-top product-image" alt="{{ product.name }}">
                <div class="product-details">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Prix :</strong> {{ product.price }} €</p>
                    <p class="card-text"><strong>Quantité disponible :</strong> {{ product.quantity }}</p>
                </div>
                <div class="product-footer">
                    <form action="{{ path('add_to_cart', {'id': product.id}) }}" method="post">
                        <div class="form-group">
                            <label for="quantity">Quantité :</label>
                            <select name="quantity" id="quantity" class="form-control custom-select">
                                {% for qty in 0..product.quantity %}
                                <option value="{{ qty }}">{{ qty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if products is empty and promos is empty %}
    <p>Aucun résultat trouvé.</p>
    {% endif %}
</div>
{% endblock %}
